.searchBar {
    width: 100%;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    width: 100%;
    padding: 15px 15px 15px 40px;
    border: none;
    border-radius: 15px;
    background-color: #dddde3ca;
}

.searchInput:focus-visible{
    outline: none;
}

.searchBox{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 500px;
}


.lable{
    width: 20px;
    position: absolute;
    margin-left: 15px;
    opacity: 0.4;
    padding: 2px;
}
